!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en-us", :lang => "en-us" }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title Strict XHTML
    %link{ :rel => "stylesheet", :href => "/main.css", :type => "text/css" }
  %body= @bodytext
