%br
%h1 Getting Haml and Sass
%br
%ul
  %li
    %tt gem install haml
    %br
    (sass is included)
  %li in Merb, just add "haml" to your dependencies.rb
  %li
    in older versions of Rails, run:
    %br
    %tt haml --rails path/to/rails/app
