%br
%ul
  %li Create tags with lines starting with %tagname
  %li Plain text lines yield... plain text
  %li HTML attributes are specified in Ruby hash syntax
  %li Nesting created by indentation (2 spaces)
