%p Single-line text goes on the same line as the tag.
%p
  Multi-line text, or text that has additional
  %em tags
  should be broken up and indented. Follow whatever
  line-length guidlines your group has adopted.
