%h1
  Haml and Sass
  %br
  an introduction
%h4
  Neal Lindsay
  %br
  neall on twitter, github and freenode
%p Follow along at 127.0.0.1:4567
%p "j" for next page, "k" for previous
%p
  slide source at
  %a{:href => 'http://github.com/neall/hamlexample'} github.com/neall/hamlexample
